:root {
    --bg-color-black: #000;
    --bg-color-white: #fff;
    --bg-color-blue: rgb(4, 4, 255);
    --bg-color-red: rgb(253, 2, 2);
    --bg-color-yellow: rgba(255, 255, 0, 0.993);
    --bg-color-green: rgb(30, 168, 30);
    --bg-color-silver: rgb(73, 73, 73);
    --bg-color-orange: rgb(209, 157, 59);
    --bg-color-torange: rgb(255, 166, 0);
    --bg-color-gray: rgb(160, 160, 160);
    --bg-value: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg-color-black);
    color: var(--bg-color-white);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.msg {
    background-color: var(--bg-color-silver);
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    text-align: center;
    border: 5px solid var(--bg-color-gray);
    border-radius: 10px;
}

.msg_tela{
    width: 80%;
}

.num_tela{
    width: 20%;
}

.container-jogo {
    width: 600px;
    height: 600px;
}

.genius {
    width: 100%;
    height: 100%;
    border: 5px solid var(--bg-color-gray);
    border-radius: 100%;
    display: grid;
    grid-template-areas:
        'verde vermelho'
        'amarelo azul';
    position: relative;
}

.blue {
    grid-area: azul;
    background-color: var(--bg-color-blue);
    width: var(--bg-value);
    border-bottom-right-radius: var(--bg-value);
}

.red {
    grid-area: vermelho;
    background-color: var(--bg-color-red);
    width: var(--bg-value);
    border-top-right-radius: var(--bg-value);
}

.green {
    grid-area: verde;
    background-color: var(--bg-color-green);
    width: var(--bg-value);
    border-top-left-radius: var(--bg-value);
}

.yellow {
    grid-area: amarelo;
    background-color: var(--bg-color-yellow);
    width: var(--bg-value);
    border-bottom-left-radius: var(--bg-value);
}

.genius .config {
    position: absolute;
    top: 46%;
    width: 100%;
    vertical-align: middle;
    line-height: 300%;
}

.start {
    background-color: var(--bg-color-orange);
    width: 20%;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: var(--bg-color-black);
    border: 5px solid var(--bg-color-silver);
}

.start:hover{
    background-color: var(--bg-color-torange);
    
}

.apagado{
    opacity: 0.4;
}