:root {
    --bg-color-black: #000;
    --bg-color-white: #fff;
    --bg-color-blue: rgb(4, 4, 255);
    --bg-color-red: rgb(253, 2, 2);
    --bg-color-yellow: rgba(255, 255, 0, 0.993);
    --bg-color-green: rgb(30, 168, 30);
    --bg-color-silver: rgb(73, 73, 73);
    --bg-color-orange: rgb(209, 157, 59);
    --bg-color-torange: rgb(255, 166, 0);
    --bg-color-gray: rgb(160, 160, 160);
    --bg-value: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #12001D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2312001D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23150321' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23180525' cx='50' cy='100' r='50'/%3E%3Cg fill='%231a0829' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d0a2d' cx='50' cy='200' r='50'/%3E%3Cg fill='%23200c31' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23230d36' cx='50' cy='300' r='50'/%3E%3Cg fill='%23260d3a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%232a0d3e' cx='50' cy='400' r='50'/%3E%3Cg fill='%232e0e42' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23320e46' cx='50' cy='500' r='50'/%3E%3Cg fill='%23360e4b' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a0d4f' cx='50' cy='600' r='50'/%3E%3Cg fill='%233e0d53' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430c57' cx='50' cy='700' r='50'/%3E%3Cg fill='%23470b5b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c0a5f' cx='50' cy='800' r='50'/%3E%3Cg fill='%23510863' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23560666' cx='50' cy='900' r='50'/%3E%3Cg fill='%235b036a' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2360006E' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: var(--bg-color-white);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.titulo {
    text-align: center;
    font-size: 100px;
    border-bottom: 3px solid var(--bg-color-white);
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.msg {
    /*background-color: var(--bg-color-silver);*/
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    text-align: center;
    border: 5px solid var(--bg-color-gray);
    border-radius: 10px;
}

.msg_tela {
    width: 80%;
}

.num_tela {
    width: 20%;
}

.container-jogo {
    width: 600px;
    height: 600px;
}

.genius {
    width: 100%;
    height: 100%;
    border: 5px solid var(--bg-color-gray);
    border-radius: 100%;
    display: grid;
    grid-template-areas:
        'verde vermelho'
        'amarelo azul';
    position: relative;
}

.blue {
    grid-area: azul;
    background-color: var(--bg-color-blue);
    width: var(--bg-value);
    border-bottom-right-radius: var(--bg-value);
}

.red {
    grid-area: vermelho;
    background-color: var(--bg-color-red);
    width: var(--bg-value);
    border-top-right-radius: var(--bg-value);
}

.green {
    grid-area: verde;
    background-color: var(--bg-color-green);
    width: var(--bg-value);
    border-top-left-radius: var(--bg-value);
}

.yellow {
    grid-area: amarelo;
    background-color: var(--bg-color-yellow);
    width: var(--bg-value);
    border-bottom-left-radius: var(--bg-value);
}

.genius .config {
    position: absolute;
    top: 46%;
    width: 100%;
    vertical-align: middle;
    line-height: 300%;
}

.start {
    background-color: var(--bg-color-orange);
    width: 20%;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: var(--bg-color-black);
    border: 5px solid var(--bg-color-silver);
}

.start:hover {
    background-color: var(--bg-color-torange);

}

.apagado {
    opacity: 0.4;
}